@keyframes fadeAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in.active {
    opacity: 1;
  }

.stage-two-rom-wrapper {
    width: 350px;
    height: 770px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
}



.stage-two-rom-card {
    color: #545454;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    /* justify-content: space-around; */

}

.stage-two-rom-card-img-holder {
    display: flex;
    gap: 3px;
    justify-content: space-evenly;
    width: 330px;
    padding-bottom: 20px;
}

.stage-two-rom-card-img-one,
.stage-two-rom-card-img-two {
    max-width: 47%;
    height: auto;
    flex: 1;
    object-fit: contain;
}

.stage-two-rom-card-titles-holder {
    align-self: center;
    width: 330px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.stage-two-rom-card-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.stage-two-rom-card-subtitle {
    font-size: 16px;
}

.stage-two-rom-card-preparartion-holder {
    width: 330px;
    height: auto;
    background-color: #FFF7F1;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #b9bbc4
}

.stage-two-rom-card-execution-holder {
    width: 330px;
    height: auto;
    background-color: #FFF7F1;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #b9bbc4
}

.stage-two-rom-card-execution-subtitle {
    font-weight: 700;
    padding-bottom: 5px;
}

.stage-two-rom-card-li {
    text-align: left;
    padding-bottom: 4px;
}

button {
    background: transparent;
}

.arrow-container {
  width: 350px; 
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .arrow {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .arrow-button {
    font-size: 16px; /* Adjust the font size */
    color: #333; /* Adjust the text color */
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    animation: pulsate 1.5s ease-in-out infinite;
  }
  
  .arrow-button.show {
    opacity: 1;
  }
  
  .arrow-placeholder {
    width: 100%;
    height: 100%;
  }



  .stage-two-rom-types-linkback {
    text-decoration: none;
    padding-right: 10px;
    color: #F361A7;
    font-weight: 500;
  }
  

  .next-rom-upper {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: #F361A7;
    font-weight: 500;
  }
 