

.header {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 50px 20px;
    background-color: transparent;
}


.flag-container{
  
    transition: opacity 0.3s ease;
}


.header-greeting-and-language {
    display: flex;
    align-items: center;
    gap: 18px;
}

.homeIcon {
    margin-right: 10px;
}

.home-icon {
    color: #f361a7;
}

.title {
    font-size: 19.5px;
  
}

.morning {
    color: white; 
}

.afternoon {
    color: orange; 
}

.night {
    color: red; 
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 20px;
    margin-right: 5px;
}

.greeting {
  color: #f361a7;
}

.header-name {
  color: #f361a7;
}


